<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Download file</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!--<h1>Welcome to Cloud Computing</h1>-->
<div class="container">
    <nav class="navbar navbar-light bg-dark d-flex justify-content-center mb-4">
        <span class="navbar-brand mb-2 bg-dark text-white h2">Welcome to Cloud Computing, {{username}}</span>
    </nav>

    <form action="/download" method="get">
        <div class="form-group">
            <input type="text" name="fname" class="form-control" placeholder="Enter your filename">
        </div>

        <button type="submit" class="btn btn-danger btn-block">Download File</button>
    </form>

    <div class="alert alert-success mt-4 d-flex justify-content-center" role="alert">
        Return to <a href="/" class="ml-1 mr-1 text-success">Homepage</a>
    </div>
</div>

</body>
</html>